<h3><%= @note.title %></h3>

<p><%= @note.body %></p>

<h6><%= " By: #{@note.author}" %>

<p><%= @note.complete ? "Done" : "Not Done Yet" %></p>

<%= link_to  "Delete", note_path(@note), method: :delete %>
<%= link_to  "Edit", edit_note_path(@note) %>